[package]
name = "esp-wifi"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
defmt = { workspace = true, optional = true }
esp32c3-hal = { workspace = true, optional = true }
esp32c2-hal = { workspace = true, optional = true }
esp32c6-hal = { workspace = true, optional = true }
esp32-hal = { workspace = true, optional = true }
esp32s3-hal = { workspace = true, optional = true }
esp32s2-hal = { workspace = true, optional = true }
smoltcp = { workspace = true, optional = true }
critical-section.workspace = true
atomic-polyfill.workspace = true
log = { workspace = true, optional = true }
embedded-svc = { workspace = true, optional = true }
enumset = { workspace = true, optional = true }
linked_list_allocator = { workspace = true }
embedded-io.workspace = true
fugit.workspace = true
heapless = { workspace = true, default-features = false }
num-derive = { workspace = true, features = ["full-syntax"] }
num-traits = { workspace = true, default-features = false }
esp-wifi-sys = { version = "0.1.0", path = "../esp-wifi-sys" }
embassy-sync = { workspace = true, optional = true }
embassy-futures = { workspace = true, optional = true }
embassy-net-driver = { workspace = true, optional = true }
toml-cfg.workspace = true
libm.workspace = true
cfg-if.workspace = true

[features]
default = [ "utils", "log" ]

# chip features
esp32c2 = [ "esp32c2-hal", "esp-wifi-sys/esp32c2" ]
esp32c3 = [ "esp32c3-hal", "esp-wifi-sys/esp32c3" ]
esp32c6 = [ "esp32c6-hal", "esp-wifi-sys/esp32c6" ]
esp32 = [ "esp32-hal",  "esp-wifi-sys/esp32" ]
esp32s2 = [ "esp32s2-hal", "esp-wifi-sys/esp32s2" ]
esp32s3 = [ "esp32s3-hal", "esp-wifi-sys/esp32s3" ]

# async features
async = [
  "dep:embassy-sync",
  "dep:embassy-futures",
  "embedded-io/async",
  "esp32c3-hal?/embassy",
  "esp32c2-hal?/embassy",
  "esp32c6-hal?/embassy",
  "esp32-hal?/embassy",
  "esp32s2-hal?/embassy",
  "esp32s3-hal?/embassy",
]

embassy-net = ["dep:embassy-net-driver", "async"]

# misc features
coex = []
wifi-logs = []
dump-packets = []
utils = [ "dep:smoltcp" ]
enumset = []
embedded-svc = [ "dep:enumset", "dep:embedded-svc", "utils" ]
wifi = [ "embedded-svc" ]
ble = [ "esp32-hal?/bluetooth" ]
phy-enable-usb = []
ps-min-modem = []
ps-max-modem = []
esp-now = [ "wifi" ]
big-heap = []
ipv6 = ["smoltcp?/proto-ipv6"]
defmt = [
  "dep:defmt",
  "smoltcp?/defmt",
  "esp32c3-hal?/defmt",
  "esp32c2-hal?/defmt",
  "esp32c6-hal?/defmt",
  "esp32-hal?/defmt",
  "esp32s2-hal?/defmt",
  "esp32s3-hal?/defmt",
]
log = [
  "dep:log",
  "esp32c3-hal?/log",
  "esp32c2-hal?/log",
  "esp32c6-hal?/log",
  "esp32-hal?/log",
  "esp32s2-hal?/log",
  "esp32s3-hal?/log",
]
