[package]
name = "esp-wifi"
version = "0.1.1"
edition = "2021"
authors = [
    "The ESP-RS team",
]
description  = "A WiFi, Bluetooth and ESP-NOW driver for use with Espressif chips and bare-metal Rust"
repository   = "https://github.com/esp-rs/esp-wifi"
license = "MIT OR Apache-2.0"

keywords = [
    "wifi",
    "bluetooth",
    "esp",
    "no-std",
]
categories = [
    "embedded",
    "hardware-support",
    "no-std",
]

[dependencies]
defmt = { workspace = true, optional = true }
esp32c3-hal = { workspace = true, optional = true }
esp32c2-hal = { workspace = true, optional = true }
esp32c6-hal = { workspace = true, optional = true }
esp32-hal = { workspace = true, optional = true }
esp32s3-hal = { workspace = true, optional = true }
esp32s2-hal = { workspace = true, optional = true }
smoltcp = { workspace = true, optional = true }
critical-section.workspace = true
log = { workspace = true, optional = true }
embedded-svc = { workspace = true, optional = true }
enumset = { workspace = true, optional = true }
linked_list_allocator = { workspace = true }
embedded-io.workspace = true
embedded-io-async = { workspace = true, optional = true }
fugit.workspace = true
heapless = { workspace = true, default-features = false }
num-derive = { workspace = true }
num-traits = { workspace = true, default-features = false }
esp-wifi-sys = { version = "0.1.0", path = "../esp-wifi-sys" }
embassy-sync = { workspace = true, optional = true }
embassy-futures = { workspace = true, optional = true }
embassy-net = { workspace = true, optional = true }
toml-cfg.workspace = true
libm.workspace = true
cfg-if.workspace = true
portable-atomic.workspace = true
portable_atomic_enum.workspace = true

# We don't use these directly but we need to enable portable-atomic on them
futures-util.workspace = true
atomic-waker.workspace = true

[build-dependencies]
toml-cfg.workspace = true

[dev-dependencies]
esp-println = { workspace = true, features = ["log"] }
esp-backtrace.workspace = true
embassy-executor.workspace = true
embassy-time.workspace = true
bleps = { workspace = true, features = ["async"] }
embedded-hal-async.workspace = true
log.workspace = true
static_cell.workspace = true

[features]
default = [ "log", "ipv4", "tcp", "udp", "icmp", "igmp", "dns", "dhcpv4" ]

# chip features
esp32c2 = [ "esp32c2-hal", "esp-wifi-sys/esp32c2", "esp-println/esp32c2", "esp-backtrace/esp32c2" ]
esp32c3 = [ "esp32c3-hal", "esp-wifi-sys/esp32c3", "esp-println/esp32c3", "esp-backtrace/esp32c3" ]
esp32c6 = [ "esp32c6-hal", "esp-wifi-sys/esp32c6", "esp-println/esp32c6", "esp-backtrace/esp32c6" ]
esp32   = [ "esp32-hal",   "esp-wifi-sys/esp32",   "esp-println/esp32",   "esp-backtrace/esp32" ]
esp32s2 = [ "esp32s2-hal", "esp-wifi-sys/esp32s2", "esp-println/esp32s2", "esp-backtrace/esp32s2" ]
esp32s3 = [ "esp32s3-hal", "esp-wifi-sys/esp32s3", "esp-println/esp32s3", "esp-backtrace/esp32s3" ]

# async features
async = [
  "dep:embassy-sync",
  "dep:embassy-futures",
  "dep:embedded-io-async",
  "esp32c3-hal?/embassy",
  "esp32c2-hal?/embassy",
  "esp32c6-hal?/embassy",
  "esp32-hal?/embassy",
  "esp32s2-hal?/embassy",
  "esp32s3-hal?/embassy",
  "esp32c3-hal?/async",
  "esp32c2-hal?/async",
  "esp32c6-hal?/async",
  "esp32-hal?/async",
  "esp32s2-hal?/async",
  "esp32s3-hal?/async",
]

embassy-net = ["dep:embassy-net", "async"]

# misc features
coex = []
wifi-logs = []
dump-packets = []
smoltcp = [ "dep:smoltcp" ]
utils = [ "smoltcp" ]
enumset = []
wifi = [ "dep:enumset", "dep:embedded-svc" ]
ble = [ "esp32-hal?/bluetooth" ]
phy-enable-usb = []
ps-min-modem = []
ps-max-modem = []
esp-now = [ "wifi" ]
ipv6   = ["wifi", "utils", "smoltcp?/proto-ipv6"]
ipv4   = ["wifi", "utils", "smoltcp?/proto-ipv4"]
tcp    = ["ipv4", "smoltcp?/socket-tcp"]
udp    = ["ipv4", "smoltcp?/socket-udp"]
icmp   = ["ipv4", "smoltcp?/socket-icmp"]
igmp   = ["ipv4", "smoltcp?/proto-igmp"]
dns    = ["udp",  "smoltcp?/proto-dns", "smoltcp?/socket-dns"]
dhcpv4 = ["wifi", "utils", "smoltcp?/proto-dhcpv4", "smoltcp?/socket-dhcpv4"]
defmt = [
  "dep:defmt",
  "smoltcp?/defmt",
  "esp32c3-hal?/defmt",
  "esp32c2-hal?/defmt",
  "esp32c6-hal?/defmt",
  "esp32-hal?/defmt",
  "esp32s2-hal?/defmt",
  "esp32s3-hal?/defmt",
]
log = [
  "dep:log",
  "esp32c3-hal?/log",
  "esp32c2-hal?/log",
  "esp32c6-hal?/log",
  "esp32-hal?/log",
  "esp32s2-hal?/log",
  "esp32s3-hal?/log",
]

[package.metadata.docs.rs]
features = ["esp32c3", "wifi", "ble", "async", "embassy-net", "esp32c3-hal/embassy-time-systick", "esp32c3-hal/default"]
default-target = "riscv32imc-unknown-none-elf"

# These examples are used in test automation
[[example]]
name = "test_esp_now"
path = "automated-tests/test_esp_now.rs"

[[example]]
name = "esp_now_broadcaster"
path = "automated-tests/esp_now_broadcaster.rs"

[[example]]
name = "open_access_point"
path = "automated-tests/open_access_point.rs"

[[example]]
name = "test_connect"
path = "automated-tests/test_connect.rs"

[[example]]
name = "test_ble"
path = "automated-tests/test_ble.rs"
