[package]
name    = "hil-test"
version = "0.0.0"
edition = "2021"
publish = false

[lib]
harness = false
test = false

[[test]]
name    = "gpio"
harness = false

[[test]]
name    = "spi_full_duplex"
harness = false

[dependencies]
defmt         = "0.3.5"
defmt-rtt     = "0.4.0"
embedded-test = "0.3.0"
panic-probe   = "0.3.1"
semihosting   = "0.1.6"

# HAL package:
esp-hal = { path = "../esp-hal", features = ["defmt", "eh1"], optional = true }
esp-backtrace = { version = "0.11.0", features = ["exception-handler", "panic-handler", "defmt"], optional = true}

# Traits:
embedded-hal       = { version = "0.2.7", features = ["unproven"] }
embedded-hal-async = { version = "1.0.0", optional = true }
embedded-hal-1     = { version = "1.0.0", package = "embedded-hal" }

[features]
esp32   = ["esp-hal/esp32", "esp-backtrace/esp32"]
esp32c2 = ["esp-hal/esp32c2", "esp-backtrace/esp32c2"]
esp32c3 = ["esp-hal/esp32c3", "esp-backtrace/esp32c3"]
esp32c6 = ["esp-hal/esp32c6", "esp-backtrace/esp32c6"]
esp32h2 = ["esp-hal/esp32h2", "esp-backtrace/esp32h2"]
esp32s2 = ["esp-hal/esp32s2", "esp-backtrace/esp32s2"]
esp32s3 = ["esp-hal/esp32s3", "esp-backtrace/esp32s3"]

# Async & Embassy:
async = ["dep:embedded-hal-async", "esp-hal?/async"]

embassy = ["esp-hal?/embassy"]

embassy-executor-interrupt = ["esp-hal?/embassy-executor-interrupt"]
embassy-executor-thread    = ["esp-hal?/embassy-executor-thread"]

embassy-time-systick = ["esp-hal?/embassy-time-systick"]
embassy-time-timg0   = ["esp-hal?/embassy-time-timg0"]

# cargo build/run
[profile.dev]
codegen-units    = 1
debug            = 2
debug-assertions = true  # <-
incremental      = false
opt-level        = 'z'   # <-
overflow-checks  = true  # <-

# cargo test
[profile.test]
codegen-units    = 1
debug            = 2
debug-assertions = true  # <-
incremental      = false
opt-level        = 3     # <-
overflow-checks  = true  # <-

# cargo build/run --release
[profile.release]
codegen-units    = 1
debug            = 2
debug-assertions = false # <-
incremental      = false
lto              = 'fat'
opt-level        = 3     # <-
overflow-checks  = false # <-

# cargo test --release
[profile.bench]
codegen-units    = 1
debug            = 2
debug-assertions = false # <-
incremental      = false
lto              = 'fat'
opt-level        = 3     # <-
overflow-checks  = false # <-

# TODO: remove when able
[patch.crates-io]
# FIXME: defmt patch can be removed since embedded-test already takes care of that?
defmt       = { git = "https://github.com/t-moe/defmt", branch = "features/defmt_test_riscv" }
panic-probe = { git = "https://github.com/t-moe/defmt", branch = "features/defmt_test_riscv" }
