[workspace]
resolver = "2"
members  = [
    "xtask",
    "esp-hal",
    "esp-alloc",
    "esp-backtrace",
    "esp-build",
    "esp-hal-embassy",
    "esp-hal-procmacros",
    "esp-hal-smartled",
    "esp-ieee802154",
    "esp-metadata",
    "esp-println",
    "esp-riscv-rt",
    "esp-wifi",
    "esp-storage",
    "examples",
    "extras/bench-server",
    "extras/esp-wifishark",
    "extras/ieee802154-sniffer",
]
exclude = [
    "esp-lp-hal",
    "hil-test",
    "xtensa-lx",
    "xtensa-lx-rt",
    "xtensa-lx-rt/procmacros",
]

[profile.release]
codegen-units    = 1
debug            = 2
debug-assertions = false
incremental      = false
opt-level        = 3
lto = 'fat'
overflow-checks  = false
