[package]
name         = "esp-hal-embassy"
version      = "0.5.0"
edition      = "2021"
rust-version = "1.84.0"
description  = "Embassy support for esp-hal"
keywords     = ["async", "embedded", "esp32", "espressif"]
categories   = ["asynchronous", "embedded", "hardware-support", "no-std"]
repository   = "https://github.com/esp-rs/esp-hal"
license      = "MIT OR Apache-2.0"

[package.metadata.docs.rs]
default-target = "riscv32imac-unknown-none-elf"
features       = ["esp32c6"]

[dependencies]
critical-section          = "1.2.0"
defmt                     = { version = "0.3.8", optional = true }
document-features         = "0.2.10"
embassy-executor          = { version = "0.6.3", optional = true }
embassy-sync              = { version = "0.6.1" }
embassy-time              = { version = "0.3.0" }
embassy-time-driver       = { version = "0.1.0", features = [ "tick-hz-1_000_000" ] }
embassy-time-queue-driver = { version = "0.1.0" }
esp-config                = { version = "0.2.0", path = "../esp-config" }
esp-hal                   = { version = "0.22.0", path = "../esp-hal" }
log                       = { version = "0.4.22", optional = true }
macros                    = { version = "0.15.0", features = ["embassy"], package = "esp-hal-procmacros", path = "../esp-hal-procmacros" }
portable-atomic           = "1.9.0"
static_cell               = "2.1.0"

[build-dependencies]
esp-build    = { version = "0.1.0", path = "../esp-build" }
esp-config   = { version = "0.2.0", path = "../esp-config", features = ["build"] }
esp-metadata = { version = "0.4.0", path = "../esp-metadata" }

[features]
default = ["executors"]

esp32   = ["esp-hal/esp32"]
esp32c2 = ["esp-hal/esp32c2"]
esp32c3 = ["esp-hal/esp32c3"]
esp32c6 = ["esp-hal/esp32c6"]
esp32h2 = ["esp-hal/esp32h2"]
esp32s2 = ["esp-hal/esp32s2"]
esp32s3 = ["esp-hal/esp32s3"]

## Implement `defmt::Format` on certain types.
defmt = ["dep:defmt", "embassy-executor?/defmt", "esp-hal/defmt"]
## Enable logging via the log crate
log = ["dep:log"]
## Provide `Executor` and `InterruptExecutor`
executors = ["dep:embassy-executor", "esp-hal/__esp_hal_embassy"]
## Use the executor-integrated `embassy-time` timer queue.
integrated-timers = ["embassy-executor?/integrated-timers", "executors"]
## Implement a generic timer queue. This option is useful if you intend to use a different executor
## than `embassy-executor`.
generic-queue = ["single-queue", "embassy-time-queue-driver/generic-queue-const-generic"]
## Use a single, global timer queue. This option only needs a single alarm, no matter how many
## executors are used.
single-queue = []

[lints.rust]
unexpected_cfgs = "allow"

[patch.crates-io]
embassy-executor    = { git = "https://github.com/bugadani/embassy", branch = "refactor" }
embassy-time        = { git = "https://github.com/bugadani/embassy", branch = "refactor" }
embassy-time-driver = { git = "https://github.com/bugadani/embassy", branch = "refactor" }
embassy-time-queue-driver = { git = "https://github.com/bugadani/embassy", branch = "refactor" }
