[target.'cfg(target_arch = "riscv32")']
runner    = "probe-rs run --preverify"
rustflags = [
    "-C", "link-arg=-Tembedded-test.x",
    "-C", "link-arg=-Tdefmt.x",
    "-C", "link-arg=-Tlinkall.x",
    "-C", "force-frame-pointers"
]

[target.'cfg(target_arch = "xtensa")']
runner    = "probe-rs run --preverify"
rustflags = [
    "-C", "link-arg=-nostartfiles",
    "-C", "link-arg=-Tembedded-test.x",
    "-C", "link-arg=-Tdefmt.x",
    "-C", "link-arg=-Wl,-Tlinkall.x",
]

[env]
DEFMT_LOG = "info"
ESP_HAL_EMBASSY_CONFIG_TIMER_QUEUE="multiple-integrated"

[unstable]
build-std = ["core", "alloc"]

[net]
git-fetch-with-cli = true
