[package]
name         = "esp-hal"
version      = "0.15.0"
edition      = "2021"
rust-version = "1.67.0"
description  = "Bare-metal HAL for Espressif devices"
repository   = "https://github.com/esp-rs/esp-hal"
license      = "MIT OR Apache-2.0"
links        = "esp-hal"

[dependencies]
bitflags             = "2.4.2"
bitfield             = "0.14.0"
cfg-if               = "1.0.0"
critical-section     = "1.1.2"
defmt                = { version = "=0.3.5", optional = true }
document-features    = "0.2.8"
embedded-can         = { version = "0.4.1", optional = true }
embedded-dma         = "0.2.0"
embedded-hal         = { version = "0.2.7", features = ["unproven"] }
embedded-hal-1       = { version = "1.0.0", optional = true, package = "embedded-hal" }
embedded-hal-nb      = { version = "1.0.0", optional = true }
embedded-io          = { version = "0.6.1", optional = true }
enumset              = "1.1.3"
esp-synopsys-usb-otg = { version = "0.4.0", optional = true, features = ["fs", "esp32sx"] }
fugit                = "0.3.7"
log                  = { version = "0.4.20", optional = true }
nb                   = "1.1.0"
paste                = "1.0.14"
portable-atomic      = { version = "1.6.0", default-features = false }
procmacros           = { version = "0.8.0", features = ["enum-dispatch", "ram"], package = "esp-hal-procmacros", path = "../esp-hal-procmacros" }
strum                = { version = "0.25.0", default-features = false, features = ["derive"] }
void                 = { version = "1.0.2", default-features = false }
usb-device           = { version = "0.3.1", optional = true }
rand_core            = { version = "0.6.4" }

# async
embedded-hal-async   = { version = "1.0.0", optional = true }
embedded-io-async    = { version = "0.6.1", optional = true }
embassy-executor     = { version = "0.5.0", optional = true }
embassy-futures      = { version = "0.1.1", optional = true }
embassy-sync         = { version = "0.5.0", optional = true }
embassy-time-driver  = { version = "0.1.0", optional = true }

# Architecture/runtime
esp-riscv-rt = { version = "0.6.1",  optional = true, path = "../esp-riscv-rt" }
riscv        = { version = "0.11.0", optional = true }
xtensa-lx    = { version = "0.9.0",  optional = true }
xtensa-lx-rt = { version = "0.16.0", optional = true }

# Part of `ufmt` containing only `uWrite` trait
ufmt-write = { version = "0.1.0", optional = true }

# IMPORTANT:
# Each supported device MUST have its PAC included below along with a
# corresponding feature.
esp32   = { git = "https://github.com/esp-rs/esp-pacs", rev = "bbf7d5a", features = ["critical-section"], optional = true }
esp32c2 = { git = "https://github.com/esp-rs/esp-pacs", rev = "bbf7d5a", features = ["critical-section"], optional = true }
esp32c3 = { git = "https://github.com/esp-rs/esp-pacs", rev = "bbf7d5a", features = ["critical-section"], optional = true }
esp32c6 = { git = "https://github.com/esp-rs/esp-pacs", rev = "bbf7d5a", features = ["critical-section"], optional = true }
esp32h2 = { git = "https://github.com/esp-rs/esp-pacs", rev = "bbf7d5a", features = ["critical-section"], optional = true }
esp32p4 = { git = "https://github.com/esp-rs/esp-pacs", rev = "bbf7d5a", features = ["critical-section"], optional = true }
esp32s2 = { git = "https://github.com/esp-rs/esp-pacs", rev = "bbf7d5a", features = ["critical-section"], optional = true }
esp32s3 = { git = "https://github.com/esp-rs/esp-pacs", rev = "bbf7d5a", features = ["critical-section"], optional = true }

[build-dependencies]
basic-toml = "0.1.8"
serde      = { version = "1.0.195", features = ["derive"] }

[features]
#! ### Chip Support Feature Flags
## Target the ESP32.
esp32   = ["dep:esp32",   "xtensa", "xtensa-lx/spin", "xtensa-lx-rt?/esp32"]
## Target the ESP32-C2.
esp32c2 = ["dep:esp32c2", "riscv",  "portable-atomic/unsafe-assume-single-core"]
## Target the ESP32-C3.
esp32c3 = ["dep:esp32c3", "riscv",  "portable-atomic/unsafe-assume-single-core"]
## Target the ESP32-C6.
esp32c6 = ["dep:esp32c6", "riscv",  "procmacros/has-lp-core"]
## Target the ESP32-H2.
esp32h2 = ["dep:esp32h2", "riscv"]
## Target the ESP32-P4.
esp32p4 = ["dep:esp32p4", "riscv",  "procmacros/has-lp-core"]
## Target the ESP32-S2.
esp32s2 = ["dep:esp32s2", "xtensa", "portable-atomic/critical-section", "procmacros/has-ulp-core", "xtensa-lx-rt?/esp32s2", "usb-otg"]
## Target the ESP32-S3.
esp32s3 = ["dep:esp32s3", "xtensa", "procmacros/has-ulp-core", "xtensa-lx/spin", "xtensa-lx-rt?/esp32s3", "usb-otg"]

# Runetime support
rt-riscv  = ["esp-riscv-rt/zero-bss", "esp32c2?/rt", "esp32c3?/rt", "esp32c6?/rt", "esp32h2?/rt", "esp32p4?/rt"]
rt-xtensa = ["dep:xtensa-lx-rt", "esp32?/rt", "esp32s2?/rt", "esp32s3?/rt"]

# Only certain chips support flip-link (ESP32-C6 and ESPS32-H2)
flip-link = ["esp-riscv-rt/fix-sp"]

# PSRAM support
psram-2m = []
psram-4m = []
psram-8m = []

# Octal RAM support
opsram-2m  = []
opsram-4m  = []
opsram-8m  = []
opsram-16m = []

# PSRAM 80Mhz frequency support
psram-80mhz  = []

# USB OTG support (ESP32-S2 and ESP32-S3 only! Enabled by default)
usb-otg = ["esp-synopsys-usb-otg", "usb-device"]

# Interrupt-related feature:
#  - Use direct interrupt vectoring (RISC-V only!)
#  - Use interrupt preemption (RISC-V only!)
#  - Use vectored interrupts (calling the handlers defined in the PAC)
direct-vectoring     = ["esp-riscv-rt/direct-vectoring"]
interrupt-preemption = ["esp-riscv-rt/interrupt-preemption"]
vectored             = ["procmacros/interrupt"]

# Enable logging
log = ["dep:log"]

# Trait implementation features:
#  - Implement the `embedded-hal@1.0.0-rc.x` traits (and friends)
#  - Implement the `embedded-io` traits where able
#  - Implement the `ufmt_write::Write` trait where able
eh1         = ["embedded-hal-1", "embedded-hal-nb", "embedded-can"]
embedded-io = ["dep:embedded-io"]
ufmt        = ["ufmt-write"]

# Support for asynchronous operation, implementing traits from
# `embedded-hal-async` and `embedded-io-async`
async = [
    "embedded-hal-async",
    "eh1",
    "embassy-sync",
    "embassy-futures",
    "embedded-io",
    "embedded-io-async",
]

# Embassy support
embassy = ["embassy-time-driver", "procmacros/embassy"]

embassy-executor-interrupt = ["embassy", "embassy-executor"]
embassy-executor-thread    = ["embassy", "embassy-executor"]

embassy-integrated-timers = ["embassy-executor?/integrated-timers"]

embassy-time-systick = []
embassy-time-timg0   = []

# Architecture-specific features (intended for internal use)
riscv  = ["dep:riscv",     "critical-section/restore-state-u8"]
xtensa = ["dep:xtensa-lx", "critical-section/restore-state-u32"]

# Initialize / clear data sections and RTC memory
rv-init-data     = ["esp-riscv-rt/init-data", "esp-riscv-rt/init-rw-text"]
rv-zero-rtc-bss  = ["esp-riscv-rt/zero-rtc-fast-bss"]
rv-init-rtc-data = ["esp-riscv-rt/init-rtc-fast-data", "esp-riscv-rt/init-rtc-fast-text"]

# Configuration for placing device drivers in the IRAM for faster access
place-spi-driver-in-ram = []

# Enable the `impl-register-debug` feature for the selected PAC
debug = [
    "esp32?/impl-register-debug",
    "esp32c2?/impl-register-debug",
    "esp32c3?/impl-register-debug",
    "esp32c6?/impl-register-debug",
    "esp32h2?/impl-register-debug",
    "esp32p4?/impl-register-debug",
    "esp32s2?/impl-register-debug",
    "esp32s3?/impl-register-debug",
]

# Enable support for `defmt`, for `esp-hal` and also for all our dependencies
defmt = [
    "dep:defmt",
    "embassy-executor?/defmt",
    "embassy-futures?/defmt",
    "embassy-sync?/defmt",
    "embedded-hal-1?/defmt-03",
    "embedded-io/defmt-03",
    "embedded-io-async?/defmt-03",
]
