[package]
name         = "esp-ieee802154"
version      = "0.2.0"
edition      = "2021"
rust-version = "1.76.0"
description  = "Low-level IEEE 802.15.4 driver for the ESP32-C6 and ESP32-H2"
repository   = "https://github.com/esp-rs/esp-hal"
license      = "MIT OR Apache-2.0"

[package.metadata.docs.rs]
default-target = "riscv32imac-unknown-none-elf"
features       = ["esp32c6"]

[lib]
bench = false
test  = false

[dependencies]
byte              = "0.2.7"
critical-section  = "1.1.3"
document-features = "0.2.10"
esp-hal           = { version = "0.20.0", path = "../esp-hal" }
esp-wifi-sys      = { version = "0.5.0", git = "https://github.com/esp-rs/esp-wifi-sys", rev = "0a2f37f" }
heapless          = "0.8.0"
ieee802154        = "0.6.1"
log               = "0.4.22"
vcell             = "0.1.3"
cfg-if            = "1.0.0"


[features]
esp32c6 = ["esp-hal/esp32c6", "esp-wifi-sys/esp32c6"]
esp32h2 = ["esp-hal/esp32h2", "esp-wifi-sys/esp32h2"]
sys-logs = ["esp-wifi-sys/sys-logs"]
