[device]
name  = "esp32c3"
arch  = "riscv"
cores = "single_core"

peripherals = [
    # Peripherals available in the PAC:
    "aes",
    "apb_ctrl",
    "apb_saradc",
    "assist_debug",
    "dma",
    "ds",
    "efuse",
    "extmem",
    "gpio",
    "gpio_sd",
    "hmac",
    "i2c0",
    "i2s0",
    "interrupt_core0",
    "io_mux",
    "ledc",
    "rmt",
    "rng",
    "rsa",
    "rtc_cntl",
    "sensitive",
    "sdm",
    "sha",
    "spi0",
    "spi1",
    "spi2",
    "system",
    "systimer",
    "timg0",
    "timg1",
    "twai0",
    "uart0",
    "uart1",
    "uhci0",
    "uhci1",
    "usb_device",
    "xts_aes",
]

symbols = [
    # Additional peripherals defined by us (the developers):
    "adc",
    "assist_debug_sp_monitor",
    "assist_debug_region_monitor",
    "gdma",
    "phy",
    "bt",
    "wifi",

    # ROM capabilities
    "rom_crc_le",
    "rom_crc_be",
    "rom_md5_bsd",

    # Wakeup SOC based on ESP-IDF:
    "pm_support_wifi_wakeup",
    "pm_support_bt_wakeup",
    "uart_support_wakeup_int",
    "gpio_support_deepsleep_wakeup",
]
