[device]
name  = "esp32"
arch  = "xtensa"
cores = "multi_core"

peripherals = [
    # Peripherals available in the PAC:
    "aes",
    "apb_ctrl",
    "bb",
    "dport",
    "efuse",
    "flash_encryption",
    "frc_timer",
    "gpio",
    "gpio_sd",
    "hinf",
    "i2c0",
    "i2c1",
    "i2s0",
    "i2s1",
    "io_mux",
    "ledc",
    "mcpwm0",
    "mcpwm1",
    "nrx",
    "pcnt",
    "rmt",
    "rng",
    "rsa",
    "rtc_cntl",
    "rtc_i2c",
    "rtc_io",
    "sdhost",
    "sens",
    "sha",
    "slc",
    "slchost",
    "spi0",
    "spi1",
    "spi2",
    "spi3",
    "timg0",
    "timg1",
    "twai0",
    "uart0",
    "uart1",
    "uart2",
    "uhci0",
    "uhci1",
]

symbols = [
    # Additional peripherals defined by us (the developers):
    "adc",
    "dac",
    "pdma",
    "phy",
    "bt",
    "wifi",
    "psram",
    "timg_timer1",
    "touch",
    "large_intr_status",
    "gpio_bank_1",

    # ROM capabilities
    "rom_crc_le",
    "rom_crc_be",
    "rom_md5_bsd",

    # Wakeup SOC based on ESP-IDF:
    "pm_support_ext0_wakeup",
    "pm_support_ext1_wakeup",
    "pm_support_touch_sensor_wakeup",
    "ulp_supported",
]
