[device]
name  = "esp32s2"
arch  = "xtensa"
cores = "single_core"

peripherals = [
    # Peripherals available in the PAC:
    "aes",
    "apb_saradc",
    "dedicated_gpio",
    "ds",
    "efuse",
    "extmem",
    "gpio",
    "gpio_sd",
    "hmac",
    "i2c0",
    "i2c1",
    "i2s0",
    "interrupt_core0",
    "io_mux",
    "ledc",
    "pcnt",
    "pms",
    "rmt",
    "rng",
    "rsa",
    "rtc_cntl",
    "rtc_i2c",
    "rtc_io",
    "sens",
    "sha",
    "spi0",
    "spi1",
    "spi2",
    "spi3",
    "system",
    "systimer",
    "timg0",
    "timg1",
    "twai0",
    "uart0",
    "uart1",
    "uhci0",
    "usb0",
    "usb_wrap",
    "xts_aes",
]

symbols = [
    # Additional peripherals defined by us (the developers):
    "adc",
    "dac",
    "pdma",
    "phy",
    "wifi",
    "psram",
    "ulp_riscv_core",
    "timg_timer1",
    "large_intr_status",
    "gpio_bank_1",
    "spi_octal",

    # ROM capabilities
    "rom_crc_le",
    "rom_md5_bsd",

    # Wakeup SOC based on ESP-IDF:
    "pm_support_ext0_wakeup",
    "pm_support_ext1_wakeup",
    "pm_support_touch_sensor_wakeup",
    "pm_support_wifi_wakeup",
    "uart_support_wakeup_int",
    "ulp_supported",
    "riscv_coproc_supported",
]
