# ESP32-C3 Device Metadata
#
# Empty [`device.driver`] tables imply `partial` support status.
#
# If you modify a driver support status, run `cargo xtask update-metadata` to
# update the table in the esp-hal README.

[device]
name   = "esp32c3"
arch   = "riscv"
target = "riscv32imc-unknown-none-elf"
cores  = 1
trm    = "https://www.espressif.com/sites/default/files/documentation/esp32-c3_technical_reference_manual_en.pdf"

peripherals = [
    { name = "AES", interrupts = { peri = "AES" } },
    { name = "APB_CTRL" },
    { name = "APB_SARADC" },
    { name = "ASSIST_DEBUG" },
    { name = "BB" },
    { name = "DMA" },
    { name = "DS" },
    { name = "EFUSE" },
    { name = "EXTMEM" },
    { name = "FE" },
    { name = "FE2" },
    { name = "GPIO" },
    { name = "GPIO_SD" },
    { name = "HMAC" },
    { name = "I2C_ANA_MST" },
    { name = "I2C0", interrupts = { peri = "I2C_EXT0" } },
    { name = "I2S0", interrupts = { peri = "I2S0" } },
    { name = "INTERRUPT_CORE0" },
    { name = "IO_MUX" },
    { name = "LEDC" },
    { name = "NRX" },
    { name = "RMT" },
    { name = "RNG" },
    { name = "RSA", interrupts = { peri = "RSA" } },
    { name = "LPWR", pac = "RTC_CNTL" },
    { name = "SENSITIVE" },
    { name = "SHA", interrupts = { peri = "SHA" } },
    { name = "SPI0" },
    { name = "SPI1" },
    { name = "SPI2", interrupts = { peri = "SPI2" } },
    { name = "SYSTEM" },
    { name = "SYSTIMER" },
    { name = "TIMG0" },
    { name = "TIMG1" },
    { name = "TWAI0" },
    { name = "UART0", interrupts = { peri = "UART0" } },
    { name = "UART1", interrupts = { peri = "UART1" } },
    { name = "UHCI0" },
    { name = "USB_DEVICE", interrupts = { peri = "USB_DEVICE" } },
    { name = "XTS_AES" },

    { name = "DMA_CH0", virtual = true },
    { name = "DMA_CH1", virtual = true },
    { name = "DMA_CH2", virtual = true },

    { name = "ADC1", virtual = true },
    { name = "ADC2", virtual = true },
    { name = "BT", virtual = true },
    { name = "FLASH", virtual = true },
    { name = "GPIO_DEDICATED", virtual = true },
    { name = "SW_INTERRUPT", virtual = true },
    { name = "TSENS", virtual = true },
    { name = "WIFI", virtual = true },
]

symbols = [
    # Additional peripherals defined by us (the developers):
    "gdma",
    "phy",
    "swd",

    # ROM capabilities
    "rom_crc_le",
    "rom_crc_be",
    "rom_md5_bsd",

    # Wakeup SOC based on ESP-IDF:
    "pm_support_wifi_wakeup",
    "pm_support_bt_wakeup",
    "uart_support_wakeup_int",
    "gpio_support_deepsleep_wakeup",
]

[device.soc]
cpu_has_csr_pc = true
rc_fast_clk_default = 17_500_000
rc_slow_clock = 136_000

memory_map = { ranges = [
    { name = "dram", start = 0x3FC8_0000, end = 0x3FCE_0000 },
    { name = "dram2_uninit", start = 0x3FCCE400, end = 0x3FCD_E710 },
] }

clocks = { system_clocks = { clock_tree = [
    # High-speed clock sources
    { name = "XTAL_CLK",    type = "source",  values = "40",                          output = "VALUE * 1_000_000", always_on = true },
    { name = "PLL_CLK",     type = "derived", from = "XTAL_CLK", values = "320, 480", output = "VALUE * 1_000_000" },
    { name = "RC_FAST_CLK", type = "source",                                          output = "17_500_000" },

    # Low-speed clocks
    { name = "XTAL32K_CLK",     type = "source",  output = "32768" },
    { name = "RC_SLOW_CLK",     type = "source",  output = "136_000" },
    { name = "RC_FAST_DIV_CLK", type = "divider", output = "RC_FAST_CLK / 256" },

    # CPU clock source dividers
    { name = "SYSTEM_PRE_DIV_IN", type = "mux", variants = [
        { name = "XTAL",    outputs = "XTAL_CLK" },
        { name = "RC_FAST", outputs = "RC_FAST_CLK" },
    ] },
    { name = "SYSTEM_PRE_DIV",  type = "divider", divisors = "0 .. 1024", output = "SYSTEM_PRE_DIV_IN / (DIVISOR + 1)" },
    # PLL CLK divider, modeled as a generic derived source because valid divider values depend on the PLL frequency
    { name = "CPU_PLL_DIV_OUT", type = "derived", from = "PLL_CLK", values = "80, 160", output = "VALUE * 1_000_000" },

    # The meta-switch
    { name = "CPU_CLK", type = "mux", always_on = true, variants = [
        # source clock      CPU clock                    additional config (mux = variant name, divider = divisor expression)
        { name = "XTAL",    outputs = "SYSTEM_PRE_DIV",  configures = [ "APB_CLK = CPU",     "CRYPTO_CLK = CPU",      "SYSTEM_PRE_DIV_IN = XTAL"    ] },
        { name = "RC_FAST", outputs = "SYSTEM_PRE_DIV",  configures = [ "APB_CLK = CPU",     "CRYPTO_CLK = CPU",      "SYSTEM_PRE_DIV_IN = RC_FAST" ] },
        { name = "PLL",     outputs = "CPU_PLL_DIV_OUT", configures = [ "APB_CLK = PLL_80M", "CRYPTO_CLK = PLL_160M" ] },
    ] },

    # CPU-dependent clock signals
    { name = "PLL_80M",  type = "derived", from = "CPU_CLK", output = "80_000_000"  },
    { name = "PLL_160M", type = "derived", from = "CPU_CLK", output = "160_000_000" },

    { name = "APB_CLK", type = "mux", variants = [
        { name = "PLL_80M", outputs = "PLL_80M" },
        { name = "CPU",     outputs = "CPU_CLK" },
    ] },
    { name = "CRYPTO_CLK", type = "mux", variants = [
        { name = "PLL_160M", outputs = "PLL_160M" },
        { name = "CPU",      outputs = "CPU_CLK"  },
    ] },

    # Low-power clocks
    { name = "RC_FAST_CLK_DIV_N", type = "divider", divisors = "0 ..= 3", output = "RC_FAST_CLK / (DIVISOR + 1)" },
    { name = "XTAL_DIV_CLK",      type = "divider", output = "XTAL_CLK / 2" },
    { name = "RTC_SLOW_CLK", type = "mux", variants = [
        { name = "XTAL32K", outputs = "XTAL32K_CLK" },
        { name = "RC_SLOW", outputs = "RC_SLOW_CLK" },
        { name = "RC_FAST", outputs = "RC_FAST_DIV_CLK" },
    ] },
    { name = "RTC_FAST_CLK", type = "mux", variants = [
        { name = "XTAL", outputs = "XTAL_DIV_CLK" },
        { name = "RC",   outputs = "RC_FAST_CLK_DIV_N" },
    ] },

    # Low-power wireless clock source
    { name = "LOW_POWER_CLK", type = "mux", variants = [
        { name = "XTAL",     outputs = "XTAL_CLK" },
        { name = "RC_FAST",  outputs = "RC_FAST_CLK" },
        { name = "XTAL32K",  outputs = "XTAL32K_CLK" },
        { name = "RTC_SLOW", outputs = "RTC_SLOW_CLK" },
    ] }
] }, peripheral_clocks = { templates = [
    # templates
    { name = "clk_en_template", value = "{{control}}::regs().{{clk_en_register}}().modify(|_, w| w.{{clk_en_field}}().bit(enable));" },
    { name = "rst_template", value = "{{control}}::regs().{{rst_register}}().modify(|_, w| w.{{rst_field}}().bit(reset));" },
    # substitutions
    { name = "control", value = "crate::peripherals::SYSTEM" },
    { name = "reg_group", value = "en0" },
    { name = "clk_en_register", value = "perip_clk_{{reg_group}}" },
    { name = "clk_en_field", value = "{{peripheral}}_clk_en" },
    { name = "rst_register", value = "perip_rst_{{reg_group}}" },
    { name = "rst_field", value = "{{peripheral}}_rst" },
    # {{peripheral}} is derived automatically (e.g. SpiDma -> spi_dma)
], peripheral_clocks = [
    { name = "Tsens", template_params = { reg_group = "en1" } },
    { name = "Dma", template_params = { reg_group = "en1" } },
    { name = "Hmac", template_params = { reg_group = "en1", peripheral = "crypto_hmac" } },
    { name = "Ds", template_params = { reg_group = "en1", peripheral = "crypto_ds" } },
    { name = "Rsa", template_params = { reg_group = "en1", peripheral = "crypto_rsa" } },
    { name = "Sha", template_params = { reg_group = "en1", peripheral = "crypto_sha" } },
    { name = "Aes", template_params = { reg_group = "en1", peripheral = "crypto_aes" } },

    #{ name = "Adc2Arb" },
    { name = "Systimer", keep_enabled = true },
    { name = "ApbSarAdc", template_params = { peripheral = "apb_saradc" } },
    #{ name = "Spi3Dma" },
    { name = "UartMem", keep_enabled = true }, # TODO: keep_enabled can be removed once esp-println needs explicit initialization
    { name = "UsbDevice", keep_enabled = true },
    { name = "I2s0" },
    { name = "Twai0", template_params = { peripheral = "twai" } },
    { name = "Timg1", template_params = { peripheral = "timergroup1" }, clocks = "Timg0" },
    { name = "Timg0", template_params = { peripheral = "timergroup" }, keep_enabled = true, clocks = [
        { name = "FUNCTION_CLOCK", type = "mux", default = "XTAL_CLK", variants = [
            { name = "XTAL_CLK", outputs = "XTAL_CLK" },
            { name = "APB_CLK",  outputs = "APB_CLK" },
        ] },
        { name = "CALIBRATION_CLOCK", type = "mux", variants = [
            { name = "RC_SLOW_CLK",     outputs = "RC_SLOW_CLK" },
            { name = "RC_FAST_DIV_CLK", outputs = "RC_FAST_DIV_CLK" },
            { name = "XTAL32K_CLK",     outputs = "XTAL32K_CLK" },
        ] },
        { name = "WDT_CLOCK", type = "mux", default = "APB_CLK", variants = [
            { name = "APB_CLK",  outputs = "APB_CLK" },
            { name = "XTAL_CLK", outputs = "XTAL_CLK" },
        ] },
    ] },
    { name = "Ledc" },
    { name = "Rmt" },
    { name = "Uhci0" },
    { name = "I2cExt0" },
    { name = "Spi2" },
    { name = "Uart1" },
    { name = "Uart0", template_params = { peripheral = "uart" }, keep_enabled = true },
    #{ name = "Spi01" },
    
    # Radio clocks not modeled here.
] } }

[device.adc]
support_status = "partial"
instances = [
    { name = "adc1" },
    { name = "adc2" },
]

[device.aes]
support_status = "partial"
has_split_text_registers = true
endianness_configurable = false
dma = true
dma_mode = ["ECB", "CBC", "OFB", "CTR", "CFB8", "CFB128"]
key_length = { options = [
    { bits = 128, encrypt_mode = 0, decrypt_mode = 4 },
    { bits = 256, encrypt_mode = 2, decrypt_mode = 6 }
] }

[device.assist_debug]
support_status = "partial"
has_sp_monitor = true
has_region_monitor = true

[device.gpio]
support_status = "supported"
gpio_function = 1
constant_0_input = 0x1f
constant_1_input = 0x1e
pins = [
    { pin =  0,                                           analog = { 1 = "ADC1_CH0" }, rtc = { 0 = "RTC_GPIO0" } },
    { pin =  1,                                           analog = { 1 = "ADC1_CH1" }, rtc = { 0 = "RTC_GPIO1" } },
    { pin =  2, functions = { 2 = "FSPIQ" },              analog = { 1 = "ADC1_CH2" }, rtc = { 0 = "RTC_GPIO2" } },
    { pin =  3,                                           analog = { 1 = "ADC1_CH3" }, rtc = { 0 = "RTC_GPIO3" } },
    { pin =  4, functions = { 0 = "MTMS", 2 = "FSPIHD" }, analog = { 1 = "ADC1_CH4" }, rtc = { 0 = "RTC_GPIO4" } },
    { pin =  5, functions = { 0 = "MTDI", 2 = "FSPIWP" }, analog = { 1 = "ADC2_CH0" }, rtc = { 0 = "RTC_GPIO5" } },
    { pin =  6, functions = { 0 = "MTCK", 2 = "FSPICLK" } },
    { pin =  7, functions = { 0 = "MTDO", 2 = "FSPID" } },
    { pin =  8 },
    { pin =  9 },
    { pin = 10, functions = { 2 = "FSPICS0" } },
    { pin = 11, limited = true },
    { pin = 12, functions = { 0 = "SPIHD" }, limited = true },
    { pin = 13, functions = { 0 = "SPIWP" }, limited = true },
    { pin = 14, functions = { 0 = "SPICS0" }, limited = true },
    { pin = 15, functions = { 0 = "SPICLK" }, limited = true },
    { pin = 16, functions = { 0 = "SPID" }, limited = true },
    { pin = 17, functions = { 0 = "SPIQ" }, limited = true },
    { pin = 18,                          analog = { 0 = "USB_DM" } },
    { pin = 19,                          analog = { 0 = "USB_DP" } },
    { pin = 20, functions = { 0 = "U0RXD" } },
    { pin = 21, functions = { 0 = "U0TXD" } },
]
input_signals = [
    { name = "SPIQ",             id = 0 },
    { name = "SPID",             id = 1 },
    { name = "SPIHD",            id = 2 },
    { name = "SPIWP",            id = 3 },
    { name = "U0RXD",            id = 6 },
    { name = "U0CTS",            id = 7 },
    { name = "U0DSR",            id = 8 },
    { name = "U1RXD",            id = 9 },
    { name = "U1CTS",            id = 10 },
    { name = "U1DSR",            id = 11 },
    { name = "I2S_MCLK",         id = 12 },
    { name = "I2SO_BCK",         id = 13 },
    { name = "I2SO_WS",          id = 14 },
    { name = "I2SI_SD",          id = 15 },
    { name = "I2SI_BCK",         id = 16 },
    { name = "I2SI_WS",          id = 17 },
    { name = "GPIO_BT_PRIORITY", id = 18 },
    { name = "GPIO_BT_ACTIVE",   id = 19 },
    { name = "CPU_GPIO_0",       id = 28 },
    { name = "CPU_GPIO_1",       id = 29 },
    { name = "CPU_GPIO_2",       id = 30 },
    { name = "CPU_GPIO_3",       id = 31 },
    { name = "CPU_GPIO_4",       id = 32 },
    { name = "CPU_GPIO_5",       id = 33 },
    { name = "CPU_GPIO_6",       id = 34 },
    { name = "CPU_GPIO_7",       id = 35 },
    { name = "EXT_ADC_START",    id = 45 },
    { name = "RMT_SIG_0",        id = 51 },
    { name = "RMT_SIG_1",        id = 52 },
    { name = "I2CEXT0_SCL",      id = 53 },
    { name = "I2CEXT0_SDA",      id = 54 },
    { name = "FSPICLK",          id = 63 },
    { name = "FSPIQ",            id = 64 },
    { name = "FSPID",            id = 65 },
    { name = "FSPIHD",           id = 66 },
    { name = "FSPIWP",           id = 67 },
    { name = "FSPICS0",          id = 68 },
    { name = "TWAI_RX",          id = 74 },
    { name = "SIG_FUNC_97",      id = 97 },
    { name = "SIG_FUNC_98",      id = 98 },
    { name = "SIG_FUNC_99",      id = 99 },
    { name = "SIG_FUNC_100",     id = 100 },

    { name = "MTCK" },
    { name = "MTMS" },
    { name = "MTDI" },
]
output_signals = [
    { name = "SPIQ",             id = 0 },
    { name = "SPID",             id = 1 },
    { name = "SPIHD",            id = 2 },
    { name = "SPIWP",            id = 3 },
    { name = "SPICLK",           id = 4 },
    { name = "SPICS0",           id = 5 },
    { name = "U0TXD",            id = 6 },
    { name = "U0RTS",            id = 7 },
    { name = "U0DTR",            id = 8 },
    { name = "U1TXD",            id = 9 },
    { name = "U1RTS",            id = 10 },
    { name = "U1DTR",            id = 11 },
    { name = "I2S_MCLK",         id = 12 },
    { name = "I2SO_BCK",         id = 13 },
    { name = "I2SO_WS",          id = 14 },
    { name = "I2SO_SD",          id = 15 },
    { name = "I2SI_BCK",         id = 16 },
    { name = "I2SI_WS",          id = 17 },
    { name = "GPIO_WLAN_PRIO",   id = 18 },
    { name = "GPIO_WLAN_ACTIVE", id = 19 },
    { name = "CPU_GPIO_0",       id = 28 },
    { name = "CPU_GPIO_1",       id = 29 },
    { name = "CPU_GPIO_2",       id = 30 },
    { name = "CPU_GPIO_3",       id = 31 },
    { name = "CPU_GPIO_4",       id = 32 },
    { name = "CPU_GPIO_5",       id = 33 },
    { name = "CPU_GPIO_6",       id = 34 },
    { name = "CPU_GPIO_7",       id = 35 },
    { name = "USB_JTAG_TCK",     id = 36 },
    { name = "USB_JTAG_TMS",     id = 37 },
    { name = "USB_JTAG_TDI",     id = 38 },
    { name = "USB_JTAG_TDO",     id = 39 },
    { name = "LEDC_LS_SIG0",     id = 45 },
    { name = "LEDC_LS_SIG1",     id = 46 },
    { name = "LEDC_LS_SIG2",     id = 47 },
    { name = "LEDC_LS_SIG3",     id = 48 },
    { name = "LEDC_LS_SIG4",     id = 49 },
    { name = "LEDC_LS_SIG5",     id = 50 },
    { name = "RMT_SIG_0",        id = 51 },
    { name = "RMT_SIG_1",        id = 52 },
    { name = "I2CEXT0_SCL",      id = 53 },
    { name = "I2CEXT0_SDA",      id = 54 },
    { name = "GPIO_SD0",         id = 55 },
    { name = "GPIO_SD1",         id = 56 },
    { name = "GPIO_SD2",         id = 57 },
    { name = "GPIO_SD3",         id = 58 },
    { name = "I2SO_SD1",         id = 59 },
    { name = "FSPICLK"    ,      id = 63 },
    { name = "FSPIQ",            id = 64 },
    { name = "FSPID",            id = 65 },
    { name = "FSPIHD",           id = 66 },
    { name = "FSPIWP",           id = 67 },
    { name = "FSPICS0",          id = 68 },
    { name = "FSPICS1",          id = 69 },
    { name = "FSPICS3",          id = 70 },
    { name = "FSPICS2",          id = 71 },
    { name = "FSPICS4",          id = 72 },
    { name = "FSPICS5",          id = 73 },
    { name = "TWAI_TX",          id = 74 },
    { name = "TWAI_BUS_OFF_ON",  id = 75 },
    { name = "TWAI_CLKOUT",      id = 76 },
    { name = "ANT_SEL0",         id = 89 },
    { name = "ANT_SEL1",         id = 90 },
    { name = "ANT_SEL2",         id = 91 },
    { name = "ANT_SEL3",         id = 92 },
    { name = "ANT_SEL4",         id = 93 },
    { name = "ANT_SEL5",         id = 94 },
    { name = "ANT_SEL6",         id = 95 },
    { name = "ANT_SEL7",         id = 96 },
    { name = "SIG_FUNC_97",      id = 97 },
    { name = "SIG_FUNC_98",      id = 98 },
    { name = "SIG_FUNC_99",      id = 99 },
    { name = "SIG_FUNC_100",     id = 100 },
    { name = "CLK_OUT1",         id = 123 },
    { name = "CLK_OUT2",         id = 124 },
    { name = "CLK_OUT3",         id = 125 },
    { name = "SPICS1",           id = 126 },
    { name = "USB_JTAG_TRST",    id = 127 },
    { name = "GPIO",             id = 128 },

    { name = "MTDO" },
]

[device.dedicated_gpio]
support_status = "partial"
channels = [["CPU_GPIO_0", "CPU_GPIO_1", "CPU_GPIO_2", "CPU_GPIO_3", "CPU_GPIO_4", "CPU_GPIO_5", "CPU_GPIO_6", "CPU_GPIO_7"]]

[device.i2c_master]
support_status = "supported"
instances = [
    { name = "i2c0", sys_instance = "I2cExt0", scl = "I2CEXT0_SCL", sda = "I2CEXT0_SDA" },
]
has_fsm_timeouts = true
has_hw_bus_clear = true
ll_intr_mask = 0x3ffff
fifo_size = 32
has_bus_timeout_enable = true
max_bus_timeout = 0x1F
has_conf_update = true
has_arbitration_en = true
has_tx_fifo_watermark = true
bus_timeout_is_exponential = true

[device.i2c_slave]
support_status = "not_supported"

[device.interrupts]
support_status = "partial"
status_registers = 2
software_interrupt_count = 4
software_interrupt_delay = 5

[device.rmt]
support_status = "partial"
ram_start = 0x60016400
channel_ram_size = 48
channels = ["Tx", "Tx", "Rx", "Rx"]
has_tx_immediate_stop = true
has_tx_loop_count = true
has_tx_carrier_data_only = true
has_tx_sync = true
has_rx_wrap = true
has_rx_demodulation = true
clock_sources.supported = [ "None", "Apb", "RcFast", "Xtal" ]
clock_sources.default = "Apb"

[device.rsa]
support_status = "partial"
size_increment = 32
memory_size_bytes = 384

[device.sha]
support_status = "partial"
dma = true
algo = { sha1 = 0, sha224 = 1, sha256 = 2 }

[device.spi_master]
support_status = "supported"
instances = [
    { name = "spi2", sys_instance = "Spi2", sclk = "FSPICLK", sio = ["FSPID", "FSPIQ", "FSPIWP", "FSPIHD"], cs = ["FSPICS0", "FSPICS1", "FSPICS2", "FSPICS3", "FSPICS4", "FSPICS5"] },
]

[device.spi_slave]
support_status = "partial"
instances = [
    { name = "spi2", sys_instance = "Spi2", sclk = "FSPICLK",  mosi = "FSPID",  miso = "FSPIQ",  cs = "FSPICS0" },
]

[device.timergroup]
support_status = "partial"
instances = [{ name = "timg0" }, { name = "timg1" }]
timg_has_divcnt_rst = true

[device.uart]
support_status = "supported"
instances = [
    { name = "uart0", sys_instance = "Uart0", tx = "U0TXD", rx = "U0RXD", cts = "U0CTS", rts = "U0RTS" },
    { name = "uart1", sys_instance = "Uart1", tx = "U1TXD", rx = "U1RXD", cts = "U1CTS", rts = "U1RTS" },
]
ram_size = 128

[device.ds]
support_status = "not_supported"

[device.rng]
support_status = "partial"
apb_cycle_wait_num = 16 # TODO

# Other drivers which are partially supported but have no other configuration:

## Crypto
[device.hmac]

## Interfaces
[device.i2s]
[device.ledc]
[device.twai]
[device.usb_serial_jtag]

## Miscellaneous
[device.dma]
[device.io_mux]
[device.temp_sensor]
[device.sleep]
[device.systimer]

## Radio
[device.wifi]

[device.bt]
support_status = "partial"
controller = "btdm"

[device.phy]
combo_module = true
backed_up_digital_register_count = 21
