[alias]
esp32c6 = "build --release --examples --features=esp32c6 --target riscv32imac-unknown-none-elf"
esp32s2 = "build --release --example=lp_blinky --features=esp32s2 --target riscv32imc-unknown-none-elf"
esp32s3 = "build --release --example=lp_blinky --features=esp32s3 --target riscv32imc-unknown-none-elf"

[build]
# target = "riscv32imc-unknown-none-elf"  # ESP32-S2 + ESP32-S3
target = "riscv32imac-unknown-none-elf" # ESP32-C6

[target.'cfg(target_arch = "riscv32")']
rustflags = [
  "-C", "link-arg=-Tlink.x",
]

[unstable]
build-std = ["core"]
