[package]
name         = "esp-lp-hal"
version      = "0.1.0"
edition      = "2021"
rust-version = "1.76.0"
description  = "HAL for low-power RISC-V coprocessors found in ESP32 devices"
repository   = "https://github.com/esp-rs/esp-hal"
license      = "MIT OR Apache-2.0"

keywords = [
    "embedded",
    "embedded-hal",
    "esp",
    "esp32",
    "no-std",
]
categories = [
    "embedded",
    "hardware-support",
    "no-std",
]

[dependencies]
cfg-if          = "1.0.0"
embedded-hal-02 = { version = "0.2.7", package = "embedded-hal", optional = true, features = ["unproven"] }
embedded-hal-1  = { version = "1.0.0", package = "embedded-hal", optional = true }
esp32c6-lp      = { git = "https://github.com/esp-rs/esp-pacs", rev = "f5429637f079337eb77bad44fb80bded58478619", features = ["critical-section"], optional = true }
esp32s2-ulp     = { git = "https://github.com/esp-rs/esp-pacs", rev = "f5429637f079337eb77bad44fb80bded58478619", features = ["critical-section"], optional = true }
esp32s3-ulp     = { git = "https://github.com/esp-rs/esp-pacs", rev = "f5429637f079337eb77bad44fb80bded58478619", features = ["critical-section"], optional = true }
nb              = { version = "1.1.0",  optional = true }
paste           = { version = "1.0.14", optional = true }
procmacros      = { package = "esp-hal-procmacros", path = "../esp-hal-procmacros" }
riscv           = { version = "0.11.0", features = ["critical-section-single-hart"] }

[dev-dependencies]
panic-halt = "0.2.0"

[build-dependencies]
esp-build = { version = "0.1.0", path = "../esp-build" }

[features]
default = ["embedded-hal-02"]

embedded-hal-02 = ["dep:embedded-hal-02"]
embedded-hal  = ["dep:embedded-hal-1"]

esp32c6 = ["dep:esp32c6-lp",  "procmacros/is-lp-core", "dep:nb", "dep:paste"]
esp32s2 = ["dep:esp32s2-ulp", "procmacros/is-ulp-core"]
esp32s3 = ["dep:esp32s3-ulp", "procmacros/is-ulp-core"]

debug = [
    "esp32c6-lp?/impl-register-debug",
    "esp32s2-ulp?/impl-register-debug",
    "esp32s3-ulp?/impl-register-debug",
]

[[example]]
name              = "blinky"
required-features = ["embedded-hal-02"]

[[example]]
name              = "uart"
required-features = ["embedded-hal-02", "esp32c6"]

[[example]]
name              = "i2c"
required-features = ["embedded-hal-02", "esp32c6"]

[lints.rust]
unexpected_cfgs = "allow"
