{
    "rust-analyzer.cargo.allTargets": false,
    "rust-analyzer.cargo.targetDir": "target/rust-analyzer",
    "rust-analyzer.procMacro.attributes.enable": false,
    "rust-analyzer.cargo.features": [
        "esp32c6",
        "esp-hal/async",
        "esp-hal/log",
        "esp-hal-procmacros/has-lp-core",
        "esp-backtrace/println",
        "esp-println/uart",
        "esp-println/log",
    ],
    "editor.formatOnSave": true,
}