crate: esp-radio

options:
  - name: wifi_max_burst_size
    description: See [embassy-net's documentation](https://docs.rs/embassy-net-driver/0.2.0/embassy_net_driver/struct.Capabilities.html#structfield.max_burst_size)
    default:
      - value: 3
    constraints:
      - type:
          validator: non_negative_integer

  - name: wifi_mtu
    description: "MTU, see [embassy-net's documentation](https://docs.rs/embassy-net-driver/0.2.0/embassy_net_driver/struct.Capabilities.html#structfield.max_transmission_unit)"
    default:
      - value: 1492
    constraints:
      - type:
          validator: positive_integer

  - name: dump_packets
    description: "Dump packets via an info log statement"
    default:
      - value: false

  - name: event_channel_capacity
    description: "Capacity of the internal event channel"
    default:
      - value: 2
    constraints:
      - type:
          validator: non_negative_integer

  - name: event_channel_subscribers
    description: "Max subscriber count of the internal event channel"
    default:
      - value: 2
    constraints:
      - type:
          validator: non_negative_integer
