crate: esp-radio

options:
  # TODO these could also be runtime configurable
  - name: wifi_max_burst_size
    description: See [smoltcp's documentation](https://docs.rs/smoltcp/0.10.0/smoltcp/phy/struct.DeviceCapabilities.html#structfield.max_burst_size)
    default:
      - value: 3

  - name: wifi_mtu
    description: "MTU, see [smoltcp's documentation](https://docs.rs/smoltcp/0.10.0/smoltcp/phy/struct.DeviceCapabilities.html#structfield.max_transmission_unit)"
    default:
      - value: 1492
    constraints:
      - type:
          validator: positive_integer

  - name: dump_packets
    description: "Dump packets via an info log statement"
    default:
      - value: false
