[package]
name          = "xtensa-lx-rt"
version       = "0.19.0"
edition       = "2024"
rust-version  = "1.86.0"
description   = "Minimal startup/runtime for Xtensa LX CPUs"
documentation = "https://docs.espressif.com/projects/rust/xtensa-lx-rt/latest/"
repository    = "https://github.com/esp-rs/esp-hal"
license       = "MIT OR Apache-2.0"
keywords      = ["lx", "peripheral", "register", "xtensa"]
categories    = ["embedded", "hardware-support", "no-std"]

[lib]
bench = false
test  = false

[dependencies]
document-features = "0.2.11"
macros            = { version = "0.3.0", package = "xtensa-lx-rt-proc-macros", path = "../xtensa-lx-rt-proc-macros" }
r0                = "1.0.0"
xtensa-lx         = { version = "0.11.0", path = "../xtensa-lx" }

[build-dependencies]
anyhow          = "1.0.98"
enum-as-inner   = "0.6.1"
minijinja       = "2.9.0"
serde           = { version = "1.0.219", features = ["derive"] }
strum           = { version = "0.27.1", features = ["derive"] }
toml            = "0.8.20"

[features]
## Save and restore float registers for exceptions
float-save-restore = []

[lints.rust]
unexpected_cfgs = "allow"
